.main {
    font-family: 'PT Sans Caption', sans-serif;
    background: #264653;
    color: #edf2f4;
}

.spaghetti {
    background: #2a9d8f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: auto auto;
    padding: 4px 16px; 
    border: 12px solid #e76f51;
    border-radius: 12px;
}

#spaghetti-title {
    text-align: center;
}

#spaghetti-pic {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 450px;
    border-radius: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

#spaghetti-image {
    background: #e9c46a;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    padding: 0 30px;
    border-radius: 12px;
}

#spaghetti-desc {
    display: flex;
    margin: auto auto;
    padding: 0px 32px;
    font-size: 24px;
    text-shadow: 0 0 4px black;
}